*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "slide-right content content"
      "footer footer footer";
  }
  
.header { 
    grid-area: header;
    background-color:darkcyan;
}

.slide-right {
    grid-area: slide-right;
    background-color:firebrick;
}

.content { 
    grid-area: content;
    background-color:darkolivegreen;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.footer { 
    grid-area: footer;
    background-color: darkorchid;
}

.container{
    background-color: darkred;
    width: 250px;
    margin: 1%;
    height: 30vh;
    border: solid black;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 10vh 70vh 10vh;
        gap: 0px 0px;
        grid-template-areas:
          "header header"
          "slide-right slide-right"
          "content content"
          "footer footer";
      }
    .container{
        background-color:cadetblue;
        width: 350px;
        margin: 1%;
        height: 20vh;
        border: solid black;
    } 
}